<div class="container-fluid">
    <div class="row pb-3">
        <div class="col-sm-8">
            <div class="aspect-wrapper">
                <mat-card class="mt-3 comm-viz">
                    <div #pixiContainer class="viz-container" [hidden]="displayType !== 'viz'"></div>
                    <span [hidden]="displayType !== 'graphs'">GRAPHS</span>
                    <button mat-icon-button class="loc-btn" color="primary" type="button" (click)="resetZoom()" aria-label="Reset zoom"><mat-icon>my_location</mat-icon></button>
                </mat-card>
            </div>

            <mat-button-toggle-group [(value)]="displayType" (change)="onDisplayTypeChange($event)">
                <mat-button-toggle value="viz" class="display-btn">Visualization</mat-button-toggle>
                <mat-button-toggle value="graphs" class="display-btn">Graphs</mat-button-toggle>
            </mat-button-toggle-group>

            <!-- one-way binding on [value] keeps the old value in playSpeed when change handler is called -->
            <mat-button-toggle-group class="ctrl-btn-grp" (change)="onPlaySpeedChange($event)" [value]="playSpeed">
                <mat-button-toggle [value]="0" class="ctrl-button" mat-button>
                    <mat-icon>pause</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="4" class="ctrl-button" mat-button>
                    <mat-icon>play_arrow</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle [value]="2" class="ctrl-button" mat-button>
                    <mat-icon>fast_forward</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="col-sm-4">
            <mat-accordion>
                <mat-expansion-panel class="mt-3"> <!-- TODO: Move [expanded]="true" back to this panel -->
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong>Simulation Setup</strong></mat-panel-title>
                    </mat-expansion-panel-header>

                    <form (ngSubmit)="restartSim()" #setupForm="ngForm">
                        <div class="container">
                            <mat-form-field>
                                <mat-label>Number of people</mat-label>
                                <input matInput [(ngModel)]="numPeople" name="numPeople" type="number" step="1">
                            </mat-form-field>
                        </div>

                        <div class="container">
                            <mat-form-field>
                                <mat-label>Initial number infected</mat-label>
                                <input matInput [(ngModel)]="initialNumInfected" name="numInfected" type="number" step="1" min="1" max="{{numPeople}}">
                            </mat-form-field>
                        </div>

                        <div class="container">
                            <mat-form-field>
                                <mat-label>Initial infection dispersion</mat-label>
                                <mat-select [(value)]="initialDispersion">
                                    <mat-option *ngFor="let dispType of initialDispersionTypes" [value]="dispType">
                                        {{ dispType | titlecase }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <mat-accordion>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Population age distribution</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sliders-panel">
                                    <div class="slider-row" *ngFor="let label of ageLabels; let i = index">
                                        <mat-form-field class="mat-form-field-sm">
                                            <mat-label>{{ label }}</mat-label>
                                            <input matInput name="ageDist{{i}}" type="number" min="0" max="100" step="0.1" [(ngModel)]="ageDist[i]" (ngModelChange)="onAgeDistChange($event)">
                                        </mat-form-field>
                                        <span class="ml-1">%</span>
                                        <div class="slider-wrapper">
                                            <mat-slider class="mat-slider-large" name="ageDistSlider{{i}}" [min]="0" [max]="100" step="0.1" [thumbLabel]="true" [(ngModel)]="ageDist[i]" (ngModelChange)="onAgeDistChange($event)"></mat-slider>
                                        </div>
                                    </div>
                                    <span [ngStyle]="{'color': ageDistSum === '100.000' ? 'green' : 'red'}" >Total: {{ ageDistSum | number:'1.0-3' }}</span>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Household size distribution</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sliders-panel">
                                    <div class="slider-row" *ngFor="let label of homeSizeLabels; let i = index">
                                        <mat-form-field class="mat-form-field-sm">
                                            <mat-label>{{ label }}</mat-label>
                                            <input matInput name="homeSizeDist{{i}}" type="number" min="0" max="100" step="0.1" [(ngModel)]="homeSizeDist[i]" (ngModelChange)="onHomeDistChange($event)">
                                        </mat-form-field>
                                        <span class="ml-1">%</span>
                                        <div class="slider-wrapper">
                                            <mat-slider class="mat-slider-large" name="homeSizeDist{{i}}" [min]="0" [max]="100" step="0.1" [thumbLabel]="true" [(ngModel)]="homeSizeDist[i]" (ngModelChange)="onHomeDistChange($event)"></mat-slider>
                                        </div>
                                    </div>
                                    <span [ngStyle]="{'color': homeSizeDistSum === '100.000' ? 'green' : 'red'}" >Total: {{ homeSizeDistSum | number:'1.0-3' }}</span>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Workplace size distribution</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sliders-panel">
                                    <div class="slider-row" *ngFor="let label of workSizeLabels; let i = index">
                                        <mat-form-field class="mat-form-field-sm">
                                            <mat-label>{{ label }}</mat-label>
                                            <input matInput name="workSizeDist{{i}}" type="number" min="0" max="100" step="0.1" [(ngModel)]="workplaceSizeDist[i]" (ngModelChange)="onWorkDistChange($event)">
                                        </mat-form-field>
                                        <span class="ml-1">%</span>
                                        <div class="slider-wrapper">
                                            <mat-slider class="mat-slider-large" name="workSizeDist{{i}}" [min]="0" [max]="100" step="0.1" [thumbLabel]="true" [(ngModel)]="workplaceSizeDist[i]" (ngModelChange)="onWorkDistChange($event)"></mat-slider>
                                        </div>
                                    </div>
                                    <span [ngStyle]="{'color': workplaceSizeDistSum === '100.000' ? 'green' : 'red'}" >Total: {{ workplaceSizeDistSum | number:'1.0-3' }}</span>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>School size distribution</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sliders-panel">
                                    <div class="slider-row" *ngFor="let label of schoolSizeLabels; let i = index">
                                        <mat-form-field class="mat-form-field-sm">
                                            <mat-label>{{ label }}</mat-label>
                                            <input matInput name="schoolSizeDist{{i}}" type="number" min="0" max="100" step="0.1" [(ngModel)]="schoolSizeDist[i]" (ngModelChange)="onSchoolDistChange($event)">
                                        </mat-form-field>
                                        <span class="ml-1">%</span>
                                        <div class="slider-wrapper">
                                            <mat-slider class="mat-slider-large" name="schoolSizeDist{{i}}" [min]="0" [max]="100" step="0.1" [thumbLabel]="true" [(ngModel)]="schoolSizeDist[i]" (ngModelChange)="onSchoolDistChange($event)"></mat-slider>
                                        </div>
                                    </div>
                                    <span [ngStyle]="{'color': schoolSizeDistSum === '100.000' ? 'green' : 'red'}" >Total: {{ schoolSizeDistSum | number:'1.0-3' }}</span>
                                </div>
                            </mat-expansion-panel>

                        </mat-accordion>

                        <div class="container mt-3">
                            <mat-form-field>
                                <mat-label>Employment rate over age 65</mat-label>
                                <input matInput [(ngModel)]="percentOver65Employed" name="pctOver65Employed" type="number" min="0" max="100" step="0.1">
                            </mat-form-field>
                            %
                        </div>
                        
                        <button mat-raised-button class="mt-3 mr-2" color="accent" type="button" (click)="revertSettings()">Undo Changes</button>
                        <button mat-raised-button class="mt-3" color="primary" type="submit">Reset Simulation</button>
                    </form>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-3" [expanded]="true"> <!-- TODO: Delete [expanded]="true" from this expansion panel -->
                    <!-- Dunno what the fuck is going on here. I guess toggle must be getting called 2 times, canceling out, bc to toggle the id should NOT be 'headerInfoIcon' -->
                    <mat-expansion-panel-header #propsPanelHeader (click)="$event.srcElement.id === 'headerInfoIcon' && propsPanelHeader._toggle()">
                        <mat-panel-title><strong>Virus and Behavioral Properties</strong><mat-icon id="headerInfoIcon" class="ml-2 info-input" color="primary" matTooltip="These settings can be adjusted during a simulation" matTooltipPosition="above" #tooltip="matTooltip" (click)="tooltip.toggle()">info_outline</mat-icon></mat-panel-title>
                    </mat-expansion-panel-header>

                    <form>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Fatality rate by age</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="sliders-panel">
                                    <div class="slider-row" *ngFor="let label of ageLabels; let i = index">
                                        <mat-form-field class="mat-form-field-sm">
                                            <mat-label>{{ label }}</mat-label>
                                            <input matInput name="fatalityPercent{{i}}" type="number" min="0" max="100" step="0.1" [(ngModel)]="fatalityPercent[i]">
                                        </mat-form-field>
                                        <span class="ml-1">%</span>
                                        <div class="slider-wrapper">
                                            <mat-slider class="mat-slider-large" name="fatalityPercentSlider{{i}}" [min]="0" [max]="100" step="0.1" [thumbLabel]="true" [(ngModel)]="fatalityPercent[i]"></mat-slider>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <div class="container mt-3">
                            <mat-form-field>
                                <mat-label>Transmission probability</mat-label>
                                <input matInput [(ngModel)]="pInfect" name="pInfect" type="number" min="0" max="1" step="0.01">
                            </mat-form-field>
                            <mat-icon class="ml-2 info-input" color="primary" matTooltip="The odds the virus will be transmitted through a single contact between a carrier and an uninfected person" matTooltipPosition="above" #tooltip2="matTooltip" (click)="tooltip2.toggle()">info_outline</mat-icon>
                        </div>
                        
                        <div class="container">
                            Incubation period:
                            <br>
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Min</mat-label>
                                <input matInput name="minIncubDays" type="number" step="1" [(ngModel)]="incubationDaysRange[0]">
                            </mat-form-field>
                            to
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Max</mat-label>
                                <input matInput name="maxIncubDays" type="number" step="1" [(ngModel)]="incubationDaysRange[1]">
                            </mat-form-field>
                            days
                            <mat-icon class="ml-2 info-input" color="primary" matTooltip="The range of the number of days an infected person can be asymptomatic and non-contagious" matTooltipPosition="above" #tooltip3="matTooltip" (click)="tooltip3.toggle()">info_outline</mat-icon>
                        </div>

                        <div class="container">
                            Asymptomatic period:
                            <br>
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Min</mat-label>
                                <input matInput name="minAsympDays" type="number" step="1" [(ngModel)]="asymptomaticDaysRange[0]">
                            </mat-form-field>
                            to
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Max</mat-label>
                                <input matInput name="maxAsympDays" type="number" step="1" [(ngModel)]="asymptomaticDaysRange[1]">
                            </mat-form-field>
                            days
                            <mat-icon class="ml-2 info-input" color="primary" matTooltip="The range of the number of days an infected person can be asymptomatic but contagious" matTooltipPosition="above" #tooltip4="matTooltip" (click)="tooltip4.toggle()">info_outline</mat-icon>
                        </div>

                        <div class="container">
                            Total infection period:
                            <br>
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Min</mat-label>
                                <input matInput name="minInfectedDays" type="number" step="1" [(ngModel)]="infectionDaysRange[0]">
                            </mat-form-field>
                            to
                            <mat-form-field class="mat-form-field-xs mx-1">
                                <mat-label>Max</mat-label>
                                <input matInput name="maxInfectedDays" type="number" step="1" [(ngModel)]="infectionDaysRange[1]">
                            </mat-form-field>
                            days
                            <mat-icon class="ml-2 info-input" color="primary" matTooltip="The range of the total number of days the illness lasts, from infection to recovery" matTooltipPosition="above" #tooltip5="matTooltip" (click)="tooltip5.toggle()">info_outline</mat-icon>
                        </div>

                    </form>
                </mat-expansion-panel>

                <mat-expansion-panel class="mt-3">
                    <mat-expansion-panel-header>
                        <mat-panel-title><strong>Statistics</strong></mat-panel-title>
                    </mat-expansion-panel-header>
                    <table>
                        <tr>date: {{ comm.date }}</tr>
                        <tr>numHealthy: {{ comm.statusCounts[0] }}</tr>
                        <tr>numIncubating: {{ comm.statusCounts[1] }}</tr>
                        <tr>numAsympotomatic: {{ comm.statusCounts[2] }}</tr>
                        <tr>numIll: {{ comm.statusCounts[3] }}</tr>
                        <tr>numRecovered: {{ comm.statusCounts[4] }}</tr>
                        <tr>numDead: {{ comm.statusCounts[5] }}</tr>
                        <tr>R0: {{ comm.currentR0 | number:'1.0-2'  }}</tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>

            <!-- <h2>People</h2>
            <ul style="list-style-type: none;">
                <li *ngFor="let p of comm.people">
                    {{p.id}}, {{p.homeId}}, {{p.workId}}, {{p.schoolId}}, {{p.age}} years old, {{p.healthStatus | healthStatus | titlecase}}
                </li>
            </ul>

            <h2>Homes</h2>
            <ul style="list-style-type: none;">
                <li *ngFor="let h of comm.homes">
                    {{h.id}}, {{h.type | locationType}}, {{h.capacity}}, [{{h.coordinates}}]
                </li>
            </ul>

            <h2>Workplaces</h2>
            <ul style="list-style-type: none;">
                <li *ngFor="let wp of comm.workplaces">
                    {{wp.id}}, {{wp.type | locationType}}, {{wp.capacity}}, [{{wp.coordinates}}]
                </li>
            </ul>

            <h2>Schools</h2>
            <ul style="list-style-type: none;">
                <li *ngFor="let s of comm.schools">
                    {{s.id}}, {{s.type | locationType}}, {{s.capacity}}, [{{s.coordinates}}]
                </li>
            </ul> -->
        </div>
    </div>
</div>