@import 'src/styles.scss';

.aspect-wrapper {
    width:100%;
    height: 90vh;
}

@media only screen and (max-width: 576px) {
    .aspect-wrapper {
        width: 100%;
        height: 100vw;
    }
}

.comm-viz.mat-card {
    padding: 0px;
    width: 100%;
    height: 100%;
}

.viz-container {
    width: 100%;
    height: 100%;
}

.mat-form-field-xs {
    max-width: 4ch;
}

.mat-form-field-sm {
    max-width: 7.5ch;
}

.sliders-panel {
    display: flex;
    flex-direction: column;
}

.slider-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    &.vert-ctr {
        vertical-align: middle;
    }
}

.slider-wrapper {
    flex-grow: 1;
}

.mat-slider-large {
    transform-origin: left center;
    transform: scale(1.6);
    width: 62.5%;
    padding: 0px;

    &.mat-slider-horizontal {
        min-width: 64px;
    }
}

.mat-expansion-panel .mat-expansion-panel-header {
    height: auto !important;
    min-height: 48px;
}

::ng-deep .mat-card-header-text {
    margin-left: 0px !important;
}

.info-input {
    vertical-align: middle;
}

.ctrl-button {
    color: mat-color($primary);

    &.mat-button-toggle-checked {
        color: mat-color($primary);
    }

    ::ng-deep & .mat-button-toggle-label-content {
        line-height: 2.5em !important;
    }
}

.ctrl-btn-grp {
    float: right;
}

::ng-deep .display-btn .mat-button-toggle-label-content {
    line-height: 2em !important;
}

.loc-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
}